{{ 'custom-carousel.css' | asset_url | stylesheet_tag }}


<<<<<<< HEAD
<div class="owl-carousel owl-theme">
	{% for block in section.blocks %}
		{% case block.type %}
			{% when "cake" %}
				<div class="item" class="{{ block.shopify_attributes }}">
					{{ block.settings.carousel_image | img_url: '2048x' | img_tag }}
				</div>
		{% else %}
     

	{% endcase %}
	{% endfor %}
</div>




=======
>>>>>>> 4e38063a1e6d370c8cdfa11fd93a40e25c71502c
{% schema %}
{
	"name": "Custom Carousel",
	"tag": "section",
	"class": "custom-carousel",
	"settings": [{
		"type": "text",
		"id": "title",
		"label": "Carousel Title"
	}],
	"blocks": [{
		"name": "Carousel",
		"type": "carousel",
		"settings": [
        
        {
            "type": "text",
            "id": "carousel_heading",
            "label": "Carousel Heading"
        },
        {
			"type": "image_picker",
			"id": "carousel_image",
			"label": "Carousel Image"
		},
        {
            "type": "richtext",
            "id": "carousel_content",
            "label": "Carousel Content"
        }
        ]
	}],
	"presets": [{
		"name": "Custom Carousel"
	}]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
