/* .custom-banner .row{
    margin: 0px;
  overflow:hidden;
}

.custom-banner .col:first-child{
    display: flex;
    justify-content: center;
    align-items: center;

}

.custom-banner .background-image{
  height:600px;
  object-fit:cover;
} */
  